:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: #272142;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.project-description {
  padding: 120px 60px;
}

.navbar-custom {
  background-color: var(--secondary-color);
}

.active {
  color: var(--branding-color) !important;
}

.nav-item {
  padding: 0 10px;
  line-height: 14px;
}

.logo_size {
  max-width: 150px;
}

.img-size {
  height: 80%;
}

.img-size-port {
  height: 95%;
}

.content-container {
  padding: 100px 20px;
}

.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
.content p {
  font-size: 14px;
}

.profile-pict {
  max-width: 70%;
  border-radius: 20px;
}

.contact_me,
.lbut_text {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact_me:hover {
  color: white;
}

footer {
  margin: 60px 0;
}
footer .contact-box {
  background: var(--secondary-color);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 30px 120px;
}

footer.contact-box p {
  margin: 0;
}

footer .myemail_link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .myemail_link:hover {
  color: var(--branding-color);
}
footer .sm-links a {
  color: var(--branding-color);
  background: var(--secondary-color);
  border-radius: 50%;
  margin: 0 20px;
  padding: 10px 14px;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .sm-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 26px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content {
    padding: 0;
    text-align: center;
  }
  footer.contact-box {
    padding: 30px;
  }
}
